* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "SEGOE UI";
}

li {
    list-style:none;
}

.container {
    width: 1200px;
    margin: auto;
    position: relative;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
img {
    width: 100%;
    vertical-align: top;
}
nav {
    padding-top: 50px;
    padding-bottom: 50px;
}
nav .row{
    justify-content: center;
    align-items: center;
}
nav .logo {
    width: 200px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}
nav .cart {
    position: absolute;
    right: 0;
}
.cart-num {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background-color: #000;
    /* border-radius: 50%; */
    clip-path: circle();
    position: absolute;
    top: -12px;
    right: -12px;
}
nav a {
    color: #000;
    text-decoration: none;
}
nav .menu a {
    padding: 0 10px;
}

/* header */
header {
    position: relative;
    background: #000;
}
header img {
    width: 100%;
    display: block;
    /* opacity: .7; */
}
header .content {
    position: absolute;
    /* width: 60%; */
    text-align: center;
    /* background-color: #ccc; */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}
header .content p {
    font-size: 24px;
    letter-spacing: 1px;
    word-spacing: 5px;
    margin-bottom: 20px;
}
header::before {
    content:'';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
.btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #8f6b4e;
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: 2px;
}

/* about */
#about {
    padding-top: 100px;
    padding-bottom: 100px;
}
.about-title {
    width: 80%;
    margin-bottom: 30px;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
}
.about-item {
    flex:0 0 calc(100% / 3);
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.about-item .about-icon {
    margin-bottom: 30px;
}
.about-item h3 {
    margin-bottom: 30px;
}
.about-item p {
    margin-bottom: 30px;
}
/* story */
#story {
    height: 600px;
    align-items: center;
    background-color: #fffbe7;

}
.story-cover {
    flex:0 0 45%;
    height: 600px;
    background-color: #ccc;
}
.story-body {
    flex: 0 0 55%;
    padding: 100px;
}
.story-body h2,
.story-body h3,
.story-body p {
    margin-bottom: 20px;
}
.story-cover img{
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* posts */
#post {
    padding-top: 100px;
    padding-bottom: 100px;
}
.post-title {
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: 25px;
}
.post-item {
    flex:0 0 25%;
    text-align: center;
    
    padding-left: 15px;
    padding-right: 15px;
}
.post-item h3 {
    line-height: 1.8em;
    padding: 25px;
}
.post-body {
    padding-top: 25px;
    background-color: #ccc;
}
.post-cover {
    height: 130px;
}
.post-cover img{
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.post-category {
    font-size: 12px;
}
.post-category::after {
    content:"";
    width: 20%;
    display: block;
    margin: auto;
    margin-top: 3px;
    border-bottom: 2px solid #493d23;
}
.post-footer {
    background-color: #222;
    color: #fff;
    padding: 5px 0;
}
.post-btn {
    width: 100%;
    margin-top: 30px;
    text-align: center;
}