
* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: auto; 
}
.row {
    display: flex;
    flex-wrap: wrap;
}

@each $name,$width in $breakpoints {
    .container-#{$name}{
        width: 100%;
    }
    @media (min-width: $width){
        .container,.container-#{$name} {
            max-width: $width;
            margin: auto;
        }
        @for $i from 1 through $col {
            .col-#{$name}-#{$i}{
                flex: 0 0 100% / $col * $i;
            }
        }
    }
}
[class^='col']{
    padding-left: 15px;
    padding-right: 15px;
}